/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# direnv
.envrc

/.vscode
/Gemfile.lock
/vendor/bundle
.DS_Store

# rspec failure tracking
.rspec_status

# RubyMine
/.idea/
/.rakeTasks

package.json
package-lock.json
yarn.lock
node_modules
